<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.work.board.board.dao.IBoardRepository">

	<select id="getBoardListCnt" parameterType="int" resultType="int">
	<![CDATA[
	SELECT COUNT(BOARD_ID) AS "boardId" 
		FROM(
		SELECT * FROM BOARD
			WHERE CATEGORY_ID=#{categoryId}
			)
	]]>
	</select>

	<select id="selectArticleListByCategory" parameterType="map" resultType="com.work.board.board.model.Board">
	<![CDATA[
		SELECT 
			BOARD_ID 				AS "boardId", 
			CATEGORY_ID 			AS "categoryId", 
			WRITER					AS "writer", 
			EMAIL					AS "email", 
			TITLE					AS "title", 
			WRITE_DATE				AS "writeDate", 
			READ_COUNT				AS "readCount", 
			(SELECT COUNT(*) FROM REPLY WHERE BOARD_ID=REPLY_BOARD_NUM)		AS "commentCount",
			RNUM					AS "seq"
	    FROM (
	    	SELECT 
	    		BOARD_ID, 
	    		CATEGORY_ID, 
	    		WRITER, 
	    		EMAIL, 
	    		TITLE, 
	    		WRITE_DATE, 
	    		READ_COUNT, 
	    		REPLY_COUNT,
	    		ROWNUM AS RNUM
	    	FROM (
	    		SELECT * FROM BOARD
	    		WHERE CATEGORY_ID=#{categoryId}
	    		ORDER BY BOARD_ID DESC
	    	)
	    )
	    WHERE RNUM BETWEEN #{start} AND #{end}
	]]>
	</select>
	
	<select id="selectArticle" parameterType="int" resultType="com.work.board.board.model.Board">
	<![CDATA[
		SELECT 
			BOARD_ID					AS "boardId", 
			CATEGORY_ID					AS "categoryId", 
			WRITER						AS "writer", 
			EMAIL						AS "email", 
			TITLE						AS "title", 
			CONTENT						AS "content", 
			READ_COUNT					AS "readCount", 
			WRITE_DATE					AS "writeDate"
		FROM BOARD
		WHERE BOARD_ID=#{boardId}
	]]>
	</select>
	
	<update id="updateReadCount" parameterType="int">
	<![CDATA[
		UPDATE BOARD 
			SET READ_COUNT = READ_COUNT+1 
		WHERE BOARD_ID=#{boardId}
	]]>
	</update>
	
	<select id="selectMaxArticleNo" parameterType="int" resultType="int">
	<![CDATA[
		SELECT 
			NVL(MAX(BOARD_ID),0) AS "articleNo"
		FROM BOARD
	]]>
	</select>

	<select id="selectMaxFileId" parameterType="int" resultType="int">
	<![CDATA[
		SELECT 
			NVL(MAX(FILE_ID),0) AS "fileId"
		FROM BOARD_UPLOAD_FILE
	]]>
	</select>
		
	<insert id="insertArticle" parameterType="com.work.board.board.model.Board">
	<![CDATA[
		INSERT INTO 
		BOARD 
			(BOARD_ID, CATEGORY_ID, WRITER, EMAIL, TITLE, CONTENT, WRITE_DATE)  
		VALUES 
			(#{boardId}, #{categoryId}, #{writer}, #{email}, #{title}, #{content}, SYSDATE)
	]]>
	</insert>
	
	
	<insert id="insertFileData" parameterType="com.work.board.board.model.BoardUploadFile">
		<![CDATA[
			INSERT INTO 
			BOARD_UPLOAD_FILE 
				(FILE_ID, BOARD_ID, FILE_NAME, FILE_ORIGINAL_NAME, FILE_SIZE, FILE_CONTENT_TYPE, FILE_DATA) 
			VALUES 
				(#{fileId}, #{boardId}, #{fileName}, #{fileOriginalName}, #{fileSize}, #{fileContentType}, #{fileData})
	]]>
	</insert>
	
		<select id="getFileList" parameterType="int" resultType="com.work.board.board.model.BoardUploadFile">
	<![CDATA[
		SELECT 
			FILE_ID				AS "fileId", 
			BOARD_ID			AS "boardId", 
			FILE_NAME			AS "fileName", 
			FILE_ORIGINAL_NAME  AS "fileOriginalName",
			FILE_SIZE			AS "fileSize", 
			FILE_CONTENT_TYPE	AS "fileContentType", 
			FILE_DATA 			AS "fileData"
		FROM BOARD_UPLOAD_FILE 
		WHERE BOARD_ID=#{boardId}
	]]>
	</select>
	
	<select id="getFile" parameterType="int" resultType="com.work.board.board.model.BoardUploadFile">
	<![CDATA[
		SELECT 
			FILE_ID				AS "fileId", 
			BOARD_ID			AS "boardId", 
			FILE_NAME			AS "fileName", 
			FILE_ORIGINAL_NAME  AS "fileOriginalName",
			FILE_SIZE			AS "fileSize", 
			FILE_CONTENT_TYPE	AS "fileContentType", 
			FILE_DATA 			AS "fileData"
		FROM BOARD_UPLOAD_FILE 
		WHERE FILE_ID=#{fileId}
	]]>
	</select>
	
	<update id="updateArticle" parameterType="com.work.board.board.model.Board">
	<![CDATA[
		UPDATE 
			BOARD 
		SET 
			CATEGORY_ID=#{categoryId}, WRITER=#{writer}, EMAIL=#{email}, TITLE=#{title}, 
			CONTENT=#{content}, WRITE_DATE=SYSDATE 
		WHERE 
			BOARD_ID=#{boardId}
	]]>
	</update>

	<update id="updateFileData" parameterType="com.work.board.board.model.BoardUploadFile">
	<![CDATA[
	 	UPDATE 
	 		BOARD_UPLOAD_FILE 
	 	SET 
	 		FILE_NAME=#{fileName}, FILE_ORIGINAL_NAME=#{fileOriginalName}, FILE_SIZE=#{fileSize}, FILE_CONTENT_TYPE=#{fileContentType}, FILE_DATA=#{fileData} 
	 	WHERE 
	 		FILE_ID=#{fileId}
	]]>
	</update>
	
	<select id="selectDeleteArticle" parameterType="int" resultType="com.work.board.board.model.Board">
	<![CDATA[
		SELECT * FROM BOARD
		WHERE 
			BOARD_ID=#{boardId}
	]]>
	</select>
	
	<delete id="deleteFileData" parameterType="int">
	<![CDATA[
		DELETE FROM BOARD_UPLOAD_FILE 
		WHERE EXISTS  ( SELECT BOARD_ID FROM BOARD 
						WHERE BOARD.BOARD_ID=#{boardId} AND BOARD.BOARD_ID = BOARD_UPLOAD_FILE.BOARD_ID )
	]]>
	</delete>
	
	<delete id="deletecommentData" parameterType="int">
	<![CDATA[
		DELETE FROM REPLY
		WHERE EXISTS  ( SELECT BOARD_ID FROM BOARD 
						WHERE BOARD.BOARD_ID=#{boardId} AND BOARD.BOARD_ID = REPLY.REPLY_BOARD_NUM )
	]]>
	</delete>

	<delete id="deleteArticleByBoardId" parameterType="int">
	<![CDATA[
		DELETE
			FROM BOARD
		WHERE BOARD_ID=#{boardId}
	]]>
	</delete>
	
	<select id="selectTotalArticleCount" resultType="int">
	<![CDATA[
		SELECT COUNT(BOARD_ID) AS "count" 
		FROM BOARD
	]]>
	</select>
	
	<select id="selectTotalArticleCountByCategoryId" parameterType="int" resultType="int">
	<![CDATA[
		SELECT 
		COUNT(*) FROM BOARD 
		WHERE CATEGORY_ID=#{categoryId}	
	]]>
	</select>
	
	<select id="selectTotalArticleCountByKeyword" parameterType="string" resultType="int">
	<![CDATA[
		SELECT 
			COUNT(*) FROM BOARD
		WHERE 
			TITLE LIKE #{keyword} OR CONTENT LIKE #{keyword}
	]]>
	</select> 

	<select id="searchListByContentKeyword" parameterType="hashmap" resultType="com.work.board.board.model.Board">
	<![CDATA[
		SELECT 
			BOARD_ID 				AS "boardId", 
			CATEGORY_ID 			AS "categoryId", 
			WRITER					AS "writer", 
			EMAIL					AS "email", 
			TITLE					AS "title", 
			WRITE_DATE				AS "writeDate", 
			READ_COUNT				AS "readCount", 
			RNUM					AS "seq"
	    FROM (
	    	SELECT 
	    		BOARD_ID, 
	    		CATEGORY_ID, 
	    		WRITER, 
	    		EMAIL, 
	    		TITLE, 
	    		WRITE_DATE, 
	    		READ_COUNT, 
	    		ROWNUM AS RNUM
	    	FROM (
	    		SELECT * FROM BOARD
	    		WHERE
	    			TITLE LIKE #{keyword}
		    		OR 
		    		CONTENT LIKE #{keyword}
	    		ORDER BY BOARD_ID DESC
	    	)
	    )
	    WHERE RNUM BETWEEN #{start} AND #{end}
	]]>
	</select>

</mapper>

